nginx:
  build: ./nginx
  links:
    - web:web
  ports:
    - 80:80

web:
  build: ./ruby
  command: bundle exec rackup -o 0.0.0.0 -p 9292
  volumes:
    - ./ruby:/app
  ports:
    - "127.0.0.1:9292:9292"
